.effectsLayer{
    position: fixed; /* or 'absolute' depending on your layout */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10; /* Ensure it's above other content */
    pointer-events: none;

}

.effectsWrapper{
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    pointer-events: all;
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
    opacity: 0.5; /* Initial opacity */
}

.effectsWrapper.hovered{
    opacity: 1; /* Opacity when hovered */
}

.effectCategories{
    padding: 10px;
    overflow: auto;
    display: flex;
    gap: 10px;
}

.effectCategories::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #000000;
}

.effectCategories::-webkit-scrollbar
{
	width: 6px;
	background-color: #d8d8d8;
}

.effectCategories::-webkit-scrollbar-thumb
{
	background-color: #e0e0e0;
}

.effectCategories h3{
    margin: 15px 0px 5px 0;
}

.effectCategories h3:first-child{
    margin: 0px 0px 5px 0;
}

.rainButtons{
    font-size: 1.5rem;
    cursor: pointer;
}

.rainButtons button{
    display: flex;
}

.rainButtons:last-child{
}

.rainButtons button{
    padding: 5px;
    border: solid 2px #2e2e2e;
    border-radius: 50%;
    background-color: #242424a2;
}

.rainButtons button.active {
    background-color: #4CAF50; /* Green background to indicate active */
    color: white;
  }

#Rain .drop{
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: rgb(253, 253, 253);
    opacity: 0.5;
  }

  