.settingsWrapper{
    top: 0;
    left: -1px;
    width: 500px;
    height: 100%;
    position: fixed;
    z-index: 100;
    background-color: #000000e8;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0px 20px 0 20px;
    overflow-y: auto;
    color: #fff;
}

.settingsWrapper h3{
    margin: 0;
    font-weight: 300;
    font-size: 1.8rem;
    align-self: center;
    margin-top: 20px;
    font-weight: bold;
}

.settingsWrapper h3 p{
    margin: 0;
    font-size: 0.8rem;
    margin-left: 20px;
}

.settingsLabel {
    margin: 30px 0 5px 0;
    font-weight: bold;
}

.userDetails{
    border-bottom: 1px solid rgb(175, 175, 175);
    padding: 20px 0;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.userDetails form{
    display: flex;
    align-items: stretch;
}

.settingsValue{
    font-size: 2rem;
}

.settingsValueWrapper{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.userDetails button{
    align-items: center;
    border: 2px solid #fff;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    fill: #fff;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: normal;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    outline: 0;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 20px;
}

.userDetails button svg{
    height: 100%;
    width: 100%;
}

.userDetails button svg:hover{
    fill: #009b00;
}

.userDetails input{
    font-size: 1.2rem;
    width: 55%s;
}

.userDetails .editButton:hover{
    border-color: rgb(104, 104, 104);
    color: rgb(192, 192, 192);
    fill: rgb(192, 192, 192);
}

.userDetails .editButton svg:hover{
    fill: #000;
}

.userDetails .editButton svg{
    height: 100%;
    width: 100%;
}

.settingsHeader{
    margin: 0;
}