.settingsWrapper{
    border-radius: 3%;
    background-color: rgba(240, 240, 240, 0.99);
    border: 1px solid rgb(175, 175, 175);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70%;
    width: 60%;
    color: #000;
    padding: 20px;
    overflow-y: auto;
}

.settingsWrapper h3{
    margin: 0;
    font-weight: 300;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.settingsWrapper h3 p{
    margin: 0;
    font-size: 0.8rem;
    margin-left: 20px;
}

.settingsLabel {
    margin: 10px 0 10px 0;
    font-weight: bold;
}

.userDetails{
    border-bottom: 1px solid rgb(175, 175, 175);
    padding: 20px 0;
    color: #000;
}

.userDetails form{
    display: flex;
    align-items: stretch;
}

.settingsValue{
    font-size: 2rem;
}

.settingsValueWrapper{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.userDetails button{
    margin-left: 20px;
    border-radius: 3px;
    padding: 1px 3px;
    width: 28px;
}

.userDetails button svg{
    height: 100%;
    width: 100%;
}

.userDetails button svg:hover{
    fill: #009b00;
}

.userDetails button:hover{
    font-weight: bold;
}

.userDetails input{
    font-size: 1.5rem;
}

.userDetails .editButton{
    border: solid 1px #000;
    border-radius: 3px;
    padding: 1px 3px;
    width: 20px;
    height: 23px;
    text-align: center;
    margin-left: 20px;
}

.userDetails .editButton svg:hover{
    fill: #000;
}

.userDetails .editButton svg{
    height: 100%;
    width: 100%;
}

.userDetails .editButton:hover{
    font-weight: bold;
}

.settingsHeader{
    margin: 0;
}