body,html{
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

#root{
  min-height: 100vh;
  height: 100%;
}

.pageWrapper{
  margin: 0;
  margin: 0px auto;
  position: relative;
  height: 100%;
}
